body{
   /* background-color: #94B49F;*/
}

.container-padding{
    padding: 0 7%;
}




.btncustomize:hover{
    background-color:#FFF;
    
}

.top-img{
  padding: 0 11.3% 8%;
  border-top: 2px solid #789395;
  background-color: #789395;
}

.requestbtn:hover{
   color: black;
   
}
.co-working{
    position: relative;
     bottom: 400px;
}

.sign-me-up-btn{
    background-color: #789395;
    color: #FFF;
    padding: 2% 14%;
}

